@tailwind base;
@tailwind components;
@tailwind utilities;
.header_1 {
  background-image: url("../img/simple-house-01.jpg");
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.person {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 5px;
}

@layer components {
  body, html {
    @apply h-full w-full bg-gray-300;
  }
  .wrapper {
    @apply w-full  xl:w-4/5 mx-auto h-full;
  }
  .header_1 {
    @apply h-3/5 w-full 
    bg-center relative
    bg-no-repeat
    bg-cover;
  }
  .header_1 .icon_banner {
    @apply flex justify-center items-center 
    w-3/5 absolute bottom-10 left-0 xl:-left-60;
  }
  .header_1 .icon_banner p {
    @apply text-white;
  }
  .header_1 .icon_banner .icon_banner_p_1 {
    @apply text-3xl;
  }
  .header_1 .icon_banner .icon_banner_p_2 {
    @apply text-lg;
  }
  .header_1 .menu {
    @apply absolute right-10 bottom-10;
  }
  .header_1 .menu ul {
    @apply flex justify-start items-center;
  }
  .header_1 .menu ul li {
    @apply p-3 pl-6  text-xl font-normal
        text-white;
  }
  .header_1 .menu ul .main_section {
    @apply underline underline-offset-4;
  }
  .header_2 .header_2_inner_p_1 {
    @apply text-center text-4xl font-bold mt-20;
  }
  .header_2 .header_2_inner_p_2 {
    @apply text-center my-10 w-2/3 mx-auto text-gray-700 text-lg;
  }
  .header_3 {
    @apply grid grid-cols-1 md:grid-cols-2 gap-4 
w-4/5 mx-auto;
  }
  .header_3 .inner_forum {
    @apply mr-auto ml-auto bg-blue-600;
  }
  .header_3 input {
    @apply w-1/2 h-10 bg-white text-black m-2 rounded-3xl 
    pl-10 ml-20  border-2 border-black;
  }
  .header_3 .button_send {
    @apply w-1/2 bg-black text-white rounded-xl
    h-10 mx-auto flex justify-center items-center text-xl mb-5;
  }
  .header_3 .first-input {
    @apply mt-20;
  }
  .header_3 .input_message {
    @apply h-20 mb-20;
  }
  .header_3 .header_3_section_2 {
    @apply p-10 mt-10;
  }
  .header_3 .header_3_special_p_1 {
    @apply text-3xl;
  }
  .header_3 .header_3_special_p_2 {
    @apply text-lg my-5;
  }
  .header_3 .phone3 {
    @apply mt-5;
  }
  .header_3 .email_3 {
    @apply mb-20 mt-1;
  }
  .header_3 .bottom_icons {
    @apply flex justify-center items-center;
  }
  .header_3 .bottom_icons i {
    @apply font-bold m-5 text-3xl text-zinc-600
    cursor-pointer;
  }
  .header_4 {
    @apply w-full mx-auto my-10;
  }
  .section_1 {
    @apply grid grid-cols-1 gap-4 lg:grid-cols-2 w-full my-10 mx-auto;
  }
  .section_1 .person {
    @apply flex justify-between items-center  relative;
  }
  .section_1 .person div {
    @apply absolute left-60;
  }
  .section_1 .person_2 {
    @apply text-xl;
  }
  .section_1 .person_1 {
    @apply text-3xl;
  }
  .section_1 .person_3 {
    @apply mt-5;
  }
  .section_2 {
    @apply grid grid-cols-1 gap-5 lg:grid-cols-3 mx-auto my-10 
w-4/5;
  }
  .section_2 .i_wrapper {
    @apply w-full flex justify-center items-center mt-10;
  }
  .section_2 i {
    @apply text-8xl;
  }
  .section_2 p {
    @apply text-center w-4/5 mx-auto my-5 p-3;
  }
  .section_2 .button_section_2_1 {
    @apply bg-black text-white rounded-2xl;
  }
  .section_2 .button_section_2_2 {
    @apply bg-yellow-500 text-black rounded-2xl;
  }
  .section_2 .button_section_2_3 {
    @apply bg-blue-600 text-white rounded-2xl;
  }
  .bottom_sectiongs {
    @apply pt-0;
  }
  .bottom_sectiongs h1 {
    @apply text-3xl text-blue-500;
  }
  .bottom_sectiongs p {
    @apply text-lg;
  }
  .index_main_section {
    @apply w-full mx-auto grid gap-3 grid-cols-1
    md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
  }
  .main_item_1 {
    @apply p-3;
  }
  .main_item_1 img {
    @apply mx-auto;
  }
  .main_p_1 {
    @apply m-2 ml-10 text-3xl;
  }
  .main_p_2 {
    @apply w-4/5 mx-auto;
  }
  .main_p_3 {
    @apply mx-auto ml-10 text-2xl text-orange-800 m-5;
  }
}
/*# sourceMappingURL=index.css.map */